* {
  font-family: 'Space Grotesk';
}

body {
  background: #002fff;
 }

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center img {
  width: auto;
  padding: 25%;
  object-fit: contain;
}

.button {
   backdrop-filter: blur(8px);
   -webkit-backdrop-filter: blur(8px);
   border-radius: 10px;
}
